/* //Andy Bell's CSS reset: */
*,
*::before,
*::after {
   box-sizing: border-box; 
}

body, 
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input, 
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* --------------------------- */


.layoutContainer {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
}

.newsPaperSections {
  background-color: bisque;
  display: flex;
  flex-direction: row;
  flex: auto;
  flex-wrap: wrap-reverse;
  gap: 1rem;
  padding: 1rem;
}

.newsPaperSections > * {
  align-self: center;
  border: 1px solid gray;
  font-family: sans-serif;
  flex: auto;
  padding: .5rem;
}

a {
  text-decoration: none;
}

.active {
  color:black;
  font-size: 2rem;
  font-weight: 900;
}
