/* //Andy Bell's CSS reset: */
*,
*::before,
*::after {
   box-sizing: border-box; 
}

body, 
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}
:root {
  display: flex;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input, 
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* --------------------------- */

.topContainer {
  background-image: url(src/assets/pexels-karolina-grabowska-5993567-cropped.jpg);
  background-size: cover;
  object-fit: cover;
  display: flex;
  flex-direction: column;
}

.layoutContainer {
  color: #401c1a;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.outletContainer {
  background-image: url(src/assets/pexels-karolina-grabowska-5993567-cropped-flipped.jpg);
  background-size: cover;
  object-fit: cover;
}
.newsPaperSections {
  display: flex;
  flex-direction: row;
  flex: auto;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.newsPaperSections > * {
  align-self: center;
  background-color: rgb(237, 237, 237);
  border: 1px solid #8f4145;
  border-radius: .1rem;
  font-family: sans-serif;
  flex: auto;
  padding: .5rem;
}

.newsPaperSections > *:hover {
  background-color: rgb(235, 219, 221);
}

a {
  color: black;
  text-decoration: none;
}

.active {
  align-self: center;
  background-color: #c0bab3;
  color:#401c1a;
  font-size: 2rem;
  font-weight: 900;
}

@media (max-width: 750px) {
  .active {
    align-self: center;
    background-color: #c0bab3;
    color:#401c1a;
    font-size: 1.5rem;
    font-weight: 900;
  } 
}